<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="welcome">
        <h3>View Employees</h3>
      </div>
      <div class="col-lg-3" *ngFor="let employee of employees">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            [src]="employee.imageURL"
            alt="employee Image"
          />
          <div class="card-body">
            <h5 class="card-title">{{ employee.employeeName }}</h5>
            <p>{{ employee.department }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ employee.email }}</li>
          </ul>
          <div class="card-body">
            <a routerLink="/employees/{{employee.id}}" class="btn-main">View Employee</a>
            <button class="btn-warning" (click)="editEmployee(employee.id)">Edit Employee</button>
            <button class="btn-danger" (click)="deleteEmployee(employee.id)">Delete Employee</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
