<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3 welcome">
      <button type="submit" class="btn btn-Primary" (click)="viewEmployee()">
        <img src="https://th.bing.com/th/id/OIP.rpihB0WuI9UtdUxL14eYUQHaHa?w=200&h=200&c=7&o=5&dpr=1.5&pid=1.7" width="120px" height="120px">
        View Employees
      </button>
    </div>
    <div class="col-lg-3 welcome">
      <button type="submit" class="btn btn-Secondary" (click)="viewDepartment()">
        <img src="https://th.bing.com/th/id/R296a6f35b9c00b7452cd5d6d9ec53e0e?rik=EIsuEscIhyzjuw&pid=ImgRaw" width="120px" height="120px">
        View Departments
      </button>
    </div>
  </div>
</div>
